@page "/commands"
@using LockBoxControl.Blazor.Client.Pages.Base;
@using LockBoxControl.Core.Models;

@inherits EditEntity<Command, long>

<h3>Commands Main Page</h3>
<MudPaper Elevation="25">
    <EntityMainPage T="Command" TId="long" Entity="Entity">
        <AddTemplate>
            <AddCommand Entity="Entity">
                <DetailsForm Context="entity">
                    <CommandDetails Command="entity" />
                </DetailsForm>
                @*<DetailsForm Context="entity">
                    <CommandDetails Command="entity" />
                </DetailsForm>*@
            </AddCommand>
        </AddTemplate>
        <OtherColumns>
            <PropertyColumn Property="x => x.Name" Title="@Resources.Strings.Name" />
            <PropertyColumn Property="x => x.Description" Title="@Resources.Strings.Description">
                <EditTemplate>
                    @if (context.Item is not null)
                    {
                        <MudTextField @bind-Value=context.Item.Description
                                      Label="@Resources.Strings.Description"
                                      Required=true
                                      Variant="Variant.Outlined"
                                      For="@(() => context.Item.Description)"
                                      Lines="5" />
                    }
                </EditTemplate>
            </PropertyColumn>
            <PropertyColumn Property="x => x.CommandLetter" Title="@Resources.Strings.PortName">
                <EditTemplate>
                    @if (context.Item is not null)
                    {
                        <MudTextField @bind-Value=context.Item.CommandLetter
                                      Label="@Resources.Strings.PortName"
                                      For="@(() => context.Item.CommandLetter)"
                                      Variant="Variant.Outlined" />
                    }
                </EditTemplate>
            </PropertyColumn>
            @*<PropertyColumn Property="x => x.IsEnabled" Title="@Resources.Strings.IsEnabled">
                <EditTemplate>
                    @if (context.Item is not null)
                    {
                        <MudCheckBox @bind-Checked=context.Item.IsEnabled
                                     Label="@Resources.Strings.IsEnabled"
                                     For="@(() => context.Item.IsEnabled)" />
                    }
                </EditTemplate>
            </PropertyColumn>
            <PropertyColumn Property="x => x.MacAddress" Title="@Resources.Strings.MacAddress">
                <EditTemplate>
                    @if (context.Item is not null)
                    {
                        <MudTextField @bind-Value=context.Item.MacAddress
                                      Label="@Resources.Strings.MacAddress"
                                      For="@(() => context.Item.MacAddress)"
                                      Variant="@Variant.Outlined" />
                    }
                </EditTemplate>
            </PropertyColumn>*@
            
        </OtherColumns>
    </EntityMainPage>
</MudPaper>
